@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


* {
    margin: 0;
}


body {
    background: #0C0C0C;
    font-family: 'Montserrat', sans-serif;
    width: 500px;
    height: 200px;

    overflow: hidden;
    margin: 0;
}

a {
    text-decoration: none;
    outline: none;
}

a:link, a:visited, a:active {
    color: white;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333;
}

.error {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 200px 0px 0px 0px;
    text-align: center;
    display: none;
}

.error_text {
    color: red;
}

.title {
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    width: 100%;
    height: 25px;
    
    -webkit-app-region: drag;

    display: flex;
    gap: 10px;
    margin: auto;
    text-align: center;
}

.title > div, .title > .right > div {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    padding-right: 5px;
    font-size: 11px;
}

.title > .right > div {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 11px;
}

.title > .border {
    border-left: 3px solid #1a1b22;
    margin-right: -30px;
}

.title > .right {
    margin-left: auto;
    padding-right: 0px;
    
}

.minimize, .exit {
    height: 100%;

    cursor: pointer;
    -webkit-app-region: none;
}

.exit:hover {
    background-color: red;
}

.content {
    text-align: center;

    width: calc(100% - 15px);
    height: calc(100% - 50px);

    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: 15px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background: #010101;
    width: 100%;
    height: 20px;
    font-size: 12px;
    
    margin: auto;
    text-align: center;
}